@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

.circle {
  width: 100px;
  height: 100px;
  position: absolute;
  line-height: 100px;
  border-radius: 65%;
  left: 23%;
  font-size: 13px;
  color: #fff;
  text-align: center;
  background: #5F9EA0;
}
.quest {
  text-align:left;

}

.larr {
    position : absolute;
    left: 35%;
}

.topdate {
  position : absolute;
  top: 25%;
  font-size: 28px;
}

.topmonth {
  position : absolute;
  top: 18%;
  font-size: 15px;
}

.rarr {
  position : absolute;
  left: 16%;
}
.policy {
  text-align:left;
  color: #5F9EA0;
  font-size: 27px;
}

.cent {
  text-align:center;
}

.rgt {
  text-align:right;
}

.dd {
  position : absolute;
  left: 49%;
}

.desc {
  position : absolute;
  left: 50%;
  right:20%
}
.col {
  color:red;
  font-size: 50px;
}

.colnew {
  color: #0047AB;
  font-size: 60px;
}
        

.sz {
  font-size: 30px;
}

.szplus {
  font-size: 32px;
}
.ast:after {
    content:"*   ";
    color: red;
  
}

.img {
  height: "50px";
  width: "50px";
}

.rct {
  width: 210px;
  height: 40px;
  position: absolute;
  line-height: 50px;
  left: 20%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #5F9EA0;
}
.szone {
  color:#5F9EA0;
  font-size: 20px;
  position: absolute;
  left:14%;
}
.box {
   margin-left: 225px;
    width: 500px;
    height: 450px; 
   border: 8px solid black;
   text-align:left;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  text-decoration: none;
  color: initial;
  background-color: whitesmoke;
  border: 8px solid black;
  position : absolute;
  left :20%;
}

.article {
  
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.buttonPrv {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  text-decoration: none;
  color: initial;
  background-color: whitesmoke;
  border: 8px solid black;
  position : absolute;
  left :10%;
}

.boxone {
  margin-left: 225px;
   width: 100px;
   height: 100px; 
  border: 8px solid black;
  text-align:left;
  background-color: blue;
}

.buttonstyle {
    background-color: #ae0700; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position : absolute;
    left: 49%;
}


@tailwind components;

@tailwind utilities;
